<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have a new discussion, <%= @receiver.name %></h1>
    <h3>It's called <b><%= @discussion.name %></b></h3>
    <p>
      <%= @creator.name %> just created a new discussion.<br>
    </p>
    <p>
      Click here to open it: <%= @url %>.
    </p>
    <p>LOOK AT IT</p>
  </body>
</html>