<!DOCTYPE html>
<html>
  <head>
  	<%= stylesheet_link_tag :all %>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
		<h5><%= @user.name %> (<%= @user.email %>) left the following feedback: </h5>
		<p><%= @feedback %></p>
  </body>
</html>